<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
	   PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <servlet>
       <servlet-name>Assignment4Servlet</servlet-name>
         <servlet-class>Assignment4Servlet</servlet-class>
	  </servlet>
   <servlet-mapping>
       <servlet-name>Assignment4Servlet</servlet-name>
       <url-pattern>/Assignment4Servlet</url-pattern>
   </servlet-mapping>
   </web-app>
