h1 {
      font-family: "Lucida Console", Monaco, monospace;
            left: 0;
	          width: 100%;
		        text-align: center;
			    }

			        textarea {
				      resize: none;
				            display: block;
					          margin-left: auto;
						        margin-right: auto;
							    }

							        img {
								      width: 250px;
								            height: 200px;
									          display: block;
										      }

										          img:hover {
											        opacity: 0.4;
												    }

												        .flavor{
													      background: #bbaaee;
													            color: white;
														          margin-top: 30px;
															        width: 10%;
																      height: 5%;
																          }

																	      .counter{
																	            background: #00868b;
																		          color: white;
																			        width: 10%;
																				      height: 5%;
																				          }